.contentSections {
  margin-left: 10%;
}
.list-item h4 {
  margin: 0;
  color: #4285f4;
  font-size: 1.75rem;
}
.list-item p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #7c7c7c;
}
